@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Address :
    @WebSite.Models.Config.Pharmacy.Address<br />
    Phone :
    <abbr title="Phone">@WebSite.Models.Config.Pharmacy.Phone</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="#">@WebSite.Models.Config.Pharmacy.Email</a><br />
</address>